:root{
  --dark-blue: #13293d;
}

/* profile img */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

/* Allows for the Header to be blue and aligns the text */
header {
  padding: 60px;
  text-align: left;
  background: var(--dark-blue);
  color: white;
}

/* the guide bar */
nav {
  display: flex;
  border: 5px solid black;
  align-content: center;
  background-color: red;
}

/* the text for the guide bar */
nav a {
  padding: 20px;
  text-align: center;
  color: white;
}

main {
  display: flex;
  flex: 3 0px;
  border: 5px black;
}

/* contact info */
aside {
  flex: 30%;
  background-color: var(--dark-blue);
  padding: 20px;
  flex-wrap: wrap; 
  border: 5px black;
}
/* contact info text */
aside li{
  color: white;
}

/* contact info Header text */
aside h2{
  color: white;
  border: 5px black;
}

/* This is the main boddy of the Page */
section {
  flex: 70%;
  background-color: var(--dark-blue);
  color: white;
  padding: 40px;
}

.About{
  border: 5px black;
}

/* This formats the second image */
.image2{
  float: left;
  padding-right: 20px;
}

.footer{
  order: 4;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
    flex-direction: column;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
  aside{
    display: none;
  }
}
